@import "theme.css";

* + * {
	margin-top: 1.5em;
}

.content-box {
  min-width: 40%;

  display: inline-block;
  height: 100%;
  width: 100%;

}

.card-container {
/*  margin: 5rem; */
  position: relative;
  max-width: 700px;
  height: 100%;
  
  aspect-ratio: 9/16;
}

.card-area-container {
  /*place-content: center;*/
  min-width: 40%;
}

.display-box-container {
  display:flex;
  justify-content: center;
  width: 100%;
}

.card-draw-widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-draw-widget button {
  font-family: "Vulnus";
  font-size: 2em;




}


body {
  display: flex;
  
  flex-direction: row;
  justify-content: center;

}




.fade-in-text {
  animation-name: fadein;
  animation-duration: 10s;
}



@keyframes fadein {
  from { color: transparent; }
   to { color: black; }

}

/********************/

svg rect {
  fill: var(--tarot-green);

}
svg circle {
  stroke: var(--tarot-crimson);
}

.card {
  perspective: 10000px;
  position: relative;

  height: 100%;
  width: 100%;

  margin-top: 10%;


}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;

  /* transition: transform 0.7s; */

  animation-timing-function: steps(2, end);

  box-shadow: 5px 5px 10px var(--tarot-black);

  border-color: var(--tarot-slate);
  /* border-radius: 0.75rem; */
  /* border-width: 2em; */
  /* outline-offset: -8; */
  aspect-ratio: 9/15;


}


.card .front,
.card  .back {
  border-color: var(--tarot-slate);
  border-radius: 0.75rem;
  border-width: 2em;
}

.card .front img {

  clip-path: inset(3% 7% 5% 5%);
}


 /* e0cfbe */
.card .front {
  transform: rotateY(0);
   /* background-color: rgb(224 221 219 );  */
  background-color: #F3E5DA;

}


.card.flipping .front {
  transform: rotateY(180deg);
}

.card .back {
  transform: rotateY(180deg);
  width: 100%;
}

.card.flipping .back {
  transform: rotateY(0);

}


