:root {
  --tarot-orange:#d27852;
  --tarot-red:#bb4a3d;
  --tarot-lightblue:#95bfd4;
  --tarot-green:#6c7c59;
  --tarot-yellow:#fada5e;
  --tarot-black:#343434;
  --tarot-slate:#333f47;
  --tarot-darkgray:#777371;
  --tarot-medgray:#a39a97;
  --tarot-lightgray:#e0dddb;
  --tarot-white:#fefffe;
}
